*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(src/assets/img/Ellipse.png);
    background-repeat: no-repeat    ;
    background-color: #F4F6FA;
    font-family: rubik;
}
header{
    height: 72px;
}

.box{
    display: flex;
    gap: 10px;
    float: right;
}
.toggle {
    margin-top: 5px;
    width: 32px;
    height: 20px;
    padding-top: 3px;
    background-color: #A729F5;
    border-radius: 999px;
    cursor: pointer;
    transition: background 0.3s;
}

.dot {  
    margin-left: 3px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}
.toggle.active .dot {
    transform: translateX(12px);
}
img{
    margin-top: 8px;
    width: 16px;
    height: 16px;
}

h3 , p , i{
    margin: 8px;
    line-height: 100%;
    letter-spacing: 2px;
    color: #313E51;
}

button{
    background-color: #FFFFFF;
    display: flex;
    font-size: 20px;
    width: 327px;
    height: 64px;
    border-radius: 12px;
    padding: 12px;
    border: none;
    margin-top: 10px;
}
.btnbox{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    margin-top: -0px;
    width: 40px;
    height: 40px; 
}
b{
    margin-top: 8px;
    margin-left: 15px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secbtn:hover{
    border: 1px solid black;
    cursor: pointer;
}
.quizHeader{
    margin-top: 20px;
    margin-left: 20px;
    color: #313E51;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
}
.main{
    width: 327px;
    height: 16px;
    background-color: #fff;
    border-radius: 104px;
    display: flex;
    align-items: center;
}
.mainh{
    width: 152px;
    height: 8px;
    background-color: #A729F5;
    border-radius: 104px;
}
.wrBox{
    color: #626C7F;
    margin-left: -0px;
    margin-top: -0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #F4F6FA;
}
.btnbox b{
    color: #313E51;
}
.btnbox p{
    margin-top: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #313E51;
}
.wrBoxx:hover{
    border: 4px solid #A729F5;
    .wrBox{
        margin-top: -2.5px;
        background-color: #A729F5;
        color: white;
    }
    b{
        margin-top: 5px;

    }
}
.secbox{
    p{
        font-weight: 350;
        font-size: 40px;
    }
    h3{
        font-weight: 700;
        font-size: 40px;
    }
    i{
        font-size: 14px
    }
}
.sbmt{
   background-color: #A729F5;
   color: #FFFFFF; 
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 18px;
   line-height: 100%;
   font-weight: 500;
}
.sbmt:hover{
    cursor: pointer;
}
.wrBoxxtrue:hover{
    border: 4px solid #A729F5;
    .wrBox{
        margin-top: -2.5px;
        background-color: #A729F5;
        color: white;
    }
    b{
        margin-top: 5px;

    }  

}
.wrBoxxtrue:focus{
    border: 4px solid #26D782;
     .wrBox{
        margin-top: -2.5px;
        background-color: #26D782;
        color: white;
    }

}
.wrBoxx:focus{
    border: 4px solid red;
    .wrBox{
        margin-top: -2.5px;
        background-color: red;
        color: white;
    }
    b{
        margin-top: 5px;
    }

}
.btnShow{
    width: 32px;
    height: 32px;
    margin-left: 50%;
    margin-bottom: 10%;
}
.nextBox{
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
.next{
    width: 350px;
    p{
        color: #313E51;
        font-weight: 300;
        font-size: 40px;
        line-height: 100%;
    }
    h1{
        color: #313E51;
        font-weight: 500;
        font-size: 40px;
        line-height: 100%;

    }
}
.playBox{
    margin-top: 40px;
    width: 327px;
    height: 242px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.eight{
    h1{
        width: 58px;
        height: 88px;
        color: #313E51;
        font-weight: 500;
        font-size: 88px;
    }
}
.plybtn{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 327px;
    height: 56px;
    background-color: #A729F5;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.quizBox{
    width: 327px;
    margin-top: 40px;
}

  body.dark {
    background-color: black;
    color: #2D3949;
    }
    body.dark button,
    body.dark .playBox,
    body.dark .main  {
    background-color: #3B4D66;
    color: #FFFFFF;
    }
    body.dark h1,
    body.dark b,
    body.dark .quizHeader,
    body.dark .next p,
    body.dark .next h1 
    {
    color: #FFFFFF;
    }
    body.dark .wrBox {
    background-color: #FFFFFF;
    color: #000000;
    }

@media (min-width: 768px) and (max-width: 1024px) {
  .secbox{
    width: 550px;
    margin-right: 100px;
    p{
        font-size: 64px;
    }
    h3{
        font-size: 64px;
    }
    i{
        font-size: 20px;
    }
  }
  .secbtn{
    width: 640px;
  }
  .quizBox{
    width: 640px;
  }
  .wrBoxxtrue{
    width: 640px;
  }
  .wrBoxx{
    width: 640px;
  }
  .main{
    width: 640px;
    .mainh{
        width: 300px;
    }
  }
  .sbmt{
    width: 640px;
  }
  .btnShow{
    margin-left: 500px;
  }
  .wrboxB:focus{
    height: 28px;
  }
  .wrBoxB{
    width: 70px;
    height: 10px;
  }
  .next{
    margin-right: 100px;
    width: 550px;
    p{
        font-size: 64px;
    }
    h1{
        font-size: 64px;
    }
  }
  .playBox{
    width: 640px;
    height: 388px;
    display: flex;
    gap: 50px;
  }
  p{
    font-size: 24px;
  }
  h1{
    font-size: 144px;
  }
  h6{
    font-size: 28px;
  }
  .plybtn{
    width: 640px;
  }
}
@media (min-width: 1025px) {
    .secsec{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }
    .secbox{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .btnbox{
        margin-top: 120px;
    }
    .secbtn{
        width: 564px;
    }
    .btnbox{
        display: flex;
        flex-direction: column;
    }
    .quizBox{
        margin-top: 110px;
        font-size: 36px;
        width: 465px;
        height: 452px;
        margin-right: 131px;
    }
    .main{
        margin-top: 164px;
        width: 465px;
        .mainh{
            width: 300px;
        }
    }
    .wrBoxx{
        width: 564px;
    }
    .wrBoxxtrue{
        width: 564px;
    }
    .sbmt{
        width: 564px;
    }
    .btnShow{
        margin-left: 400px;
    }
    .nextBox{
        display: flex;
        flex-direction: row;
    }
    .next{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 500px;
        margin-top: -295px;
        margin-right: 50px;
        p{
            font-size: 64px;
        }
        h1{
            font-size: 64px;
        }
    }
    .playBox{
        display: flex;
        gap: 80px;
        width: 564px;
        height: 388px;
    }
    .plybtn{
        width: 564px;
    }
    .nextbtn{
        margin-left: 120px;
    }
}

